body.landing.bg {
  background-image: url(../materials/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  transition: all .3s ease;
}

.landingWraper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 25px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center section {
  top: 190px;
  width: 100%;
}

.mainSection section {
  position: absolute;
  top: 190px;
  width: 580px;
}

.mainSection.left section {
  left: 150px;
}

.mainSection.right section {
  right: 70px;
}


.mainSection section figure {
  margin: 60px 0 0 -60px;
  width: 30px;
  height: 4px;
  background-color: #50e3c2;

}

.mainSection.left section figure {
  margin-left: 0;
}

.mainSection.right section figure {
  margin-left: 1px;
}

.mainSection.center footer {
  position: absolute;
  top: 490px;
  right: 0;
  width: 100%;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  width: 530px;
  height: 566px;
  top: 235px;
  right: 168px;
  background-image: url(../materials/landing/mockup1.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#m1 {
  width: 140px;
  height: 318px;
  top: 193px;
  left: 159px;
  background-image: url(../materials/images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#m2 {
  width: 140px;
  height: 396px;
  top: 193px;
  left: 332px;
  background-image: url(../materials/images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#m3 {
  width: 140px;
  height: 477px;
  top: 193px;
  left: 505px;
  background-image: url(../materials/images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  width: 758px;
  height: 402px;
  top: 343px;
  right: 41px;
  background-image: url(../materials/landing/mockup3.png);
}

#s2, #s4 {
  color: white;
  background-color: rgba(135, 150, 150, 1);
}

.br2 {
  display: none;
}

@media screen and (max-width: 1440px) {
  .landingWraper {
  width: 100%
  }
}

@media screen and (max-width: 1180px) {
  body.landing.bg {
  background-image: url(../materials/mockups/1024.png);
  }

  .mainSection {
    height: 570px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
  }

  .mainSection.center section {
    top: 130px;
    width: 100%;
  }

  .mainSection section {
    position: absolute;
    top: 140px;
    width: 580px;
  }

  .mainSection.left section {
    left: 320px;
  }

  .mainSection.right section {
    right: 80px;
  }


  .mainSection section figure {
    margin: 40px;
    width: 22px;
    height: 3px;
  }

  .mainSection.left section figure {
    margin-left: 0;
  }

  .mainSection.right section figure {
    margin-left: 1px;
  }

  .mainSection.center footer {
    top: 490px;
    right: 0;
  }

  .mainSection.center footer p {
    font-size: 16px;
  }

  #mockup1 {
    width: 375px;
    height: 566px;
    top: 166px;
    right: 323px;
  }

  #m1 {
    width: 99px;
    top: 136px;
    height: 227px;
    left: 322px;
  }

  #m2 {
    width: 99px;
    top: 136px;
    height: 282px;
    left: 446px;
  }

  #m3 {
    width: 99px;
    top: 136px;
    height: 339px;
    left: 569px;
  }

  #mockup3 {
    width: 540px;
    height: 283px;
    top: 239px;
    right: 236px;
  }

  .mainSection.center footer {
    top: 340px;
    right: 0;
    width: 100%;
  }

  .mainSection.center footer p {
    font-size: 13px;
  }


  .br1 {
    display: none;
  }

  .br2 {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  body.landing.bg {
  background-image: url(../materials/mockups/768.png);
  }

  .mainSection {
    height: 1025px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
  }

  .mainSection.center section {
    top: 184px;
    width: 100%;
  }

  .mainSection section {
    position: absolute;
    top: 140px;
    width: 580px;
  }

  .mainSection.left section {
    left: 450px;
  }

  .mainSection.right section {
    right: 210px;
  }


  .mainSection section figure {
    margin: 40px;
    width: 22px;
    height: 3px;
  }

  .mainSection.left section figure {
    margin-left: 0;
  }

  .mainSection.right section figure {
    margin-left: 1px;
  }

  .mainSection.center footer {
    top: 490px;
    right: 0;
  }

  .mainSection.center footer p {
    font-size: 16px;
  }

  #mockup1 {
    width: 540px;
    height: 566px;
    top: 480px;
    right: 450px;
  }

  #m1 {
    width: 140px;
    top: 455px;
    height: 317px;
    left: 475px;
  }

  #m2 {
    width: 140px;
    top: 455px;
    height: 396px;
    left: 648px;
  }

  #m3 {
    width: 140px;
    top: 455px;
    height: 474px;
    left: 821px;
  }

  #mockup3 {
    width: 674px;
    height: 404px;
    top: 504px;
    right: 308px;
  }

  .mainSection.center footer {
    top: 747px;
    right: 0;
    width: 100%;
  }

  .mainSection.center footer p {
    font-size: 13px;
  }


  .br1 {
    display: none;
  }

  .br2 {
    display: block;
  }
}
