body.landing.bg {
  background-image: url(../materials/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.landingWraper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.mainSection {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 25px;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center section {
  top: 182px;
  width: 100%;
}

.mainSection section {
  position: absolute;
  top: 190px;
  width: 580px;
}

.mainSection.left section {
  left: 150px;
}

.mainSection.right section {
  right: 70px;
}

#s2, #s4 {
  color: white;
}
