.menubar{
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.logo{
  display: block;
  height: 25px;
  width: 90px;
  background-image: url(../materials/images/logo.svg);
  background-repeat: no-repeat;
}

.about:hover {
  color: rgba(0, 0, 0, 0.4);
}
