.menubar{
  heigh: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.logo{
  display: block;
  height: 16px;
  width: 180px;
  background-image: url(../materials/images/logo.svg);
}

.about:hover {
  color: rgba(0, 0, 0, 0.4);
}
