.menubar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  min-width: 100%;
  height: 60px;
  padding: 20px;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.logo{
  display: block;
  height: 25px;
  width: 90px;
  background-image: url(../materials/images/logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 840px) {
  .menubar {
    height: 40px;
  }

  .logo {
    height: 19px;
    width: 59px;
  }
}

@media screen and (max-width: 782px) {
  .menubar {
    width: 782px;
  }
}
