.bgr {
  display: inline-block;
  border-width: 0;
  border-style: solid;
  text-align: center;
  background-color: #77ffe1;

  width: 300px;
  height: 50px;

  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: regular;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  font-size: 17px;
  color: black;
  text-decoration: none;

  margin-top: 60px;
}

.nobgr {
  display: inline-block;
  margin-top: 15px;
  width: 300px;
  height: 20px;
}

@media screen and (max-width: 1180px) {
  .bgr {
    width: 215px;
    height: 35px;
    margin-top: 45px;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
  }

  .nobgr {
    width: 215px;
    height: 35px;
    margin-top: 3px;
    font-size: 13px;
    line-height: 35px;
    font-weight: lighter;
  }
}
